
.course-body{
    width: 94%;
    height: 90%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
    
}

.course-card{
    width: 20%;
    height: 350px;
    margin: 10px 20px;
    border-radius: 20px;
    background-color: rgb(30, 42, 62);
    border: 1px solid rgba(54, 69, 98, 0.18);
    padding: 2%;
    margin-bottom: 2%;
    background: rgb(30, 42, 62);
    background: linear-gradient(
      75deg,
      rgb(40, 58, 88) 0%,
      rgba(54, 69, 98, 0) 100%
    );
    transition: all 0.2s ease;
    cursor: pointer;
}

.course-card:hover{
    transform: scale(1.02);
}



.course-image{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
}


.course-text{
    font-weight: 800;
    font-size: 16px;
    color: #c4d0e3;
    margin: 10px 0px 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}