.signup-email input{
    border: 3px solid white;
}

.signup-pass input{
    border: 3px solid white;
}

.signup-con-pass input{
    border: 3px solid white;
}

.signup-name input{
    border: 3px solid white;
}