.contact-section {
  padding: 30px;
  text-align: center;
 display: flex;
 justify-content:center ;
 align-items: center;
 width: 100%;
  
}

.contac-left{
      /* border: 2px solid white; */
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.contac-left iframe
{
  height: 350px;
  width: 80%;
  border-radius: 20px;
}
.contac-right{
  height: 100%;
  width: 50%;
  /* border: 3px solid black; */
}
.contact-heading h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
  text-align: center;
}

.contact-form .submit-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form .submit-button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 768px) {
  .contact-form {
      max-width: 90%;
  }
}
