
.social{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

 i{
    font-size: 1.5rem;
    display: flex;
  justify-content: center;
  align-items: center ;
    
}






/*======================================================*/

.foot-container{
    width: 100%;
    height: 60vh;
    border: 4px solid black;
    background-color: #1eb2a6;     /*aquamarine*/
    padding: 7%;
}
.foot-inside{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.foot-left{
    width: 35%;
    margin-left: 1rem;
}


.foot-left-head h2{
    font-size: 3rem;
}

.foot-left-head p{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    color: rgb(65, 67, 67);
    margin-top: -3px;
}

.foot-left-other {

    margin-top: 2rem;

}

.foot-left-other p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.foot-left-other a{
    font-size: 1.3rem;
    font-style: none;
    margin: 10px;
    margin-top: 2rem;
}


/* =======================footer middle-============================================== */
.foot-middle{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align:left;
    align-items: center;
   
    font-size: 1.2rem;

}

.foot-list h3{
    margin-bottom: 1rem;
}
.foot-middle li{
    
    text-decoration: none;
    list-style: none;
    margin: 0.8rem;
}

.foot-list li a{

    font-size: 1.2rem;

    text-decoration: none;
    

}


.foot-right{
    width: 25%;
    margin-right: 1rem;
    text-align: left;
}

.foot-right h3{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.foot-right p{
    font-size: 1.1rem;
    margin-top: 1rem;
}