.head1{
    padding: 20px 0;
    color: #fff;
}

.logo h1{
    font-size: 35px;
    font-weight: 900;
}

.head1 .icon{
    margin-left: 10px;
}

.social{
    display: flex;
}
.social i{
    font-size: 1.5rem;
    display: flex;
  justify-content: center;
  align-items: center ;
    
}
/* -------------------------header --------------------------------- */

header{
    background-color: rgba(255,255,255,0.2);
    margin: 0 30px;
position: relative;
}

header li{
    margin-right: 40px;
}

header ul{
    padding: 30px 20px;
}

header ul li a{
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover{
    color: #1eb2a6;
}

.start{
    background-color: #1eb2a6;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);

}
.toggle{
    display: none;
}


@media screen and (max-width:760px) {
    .start{
        clip-path: none;
    }

    header{
        margin: 0;
        position: relative;
        background-color: #1eb2a6;
    }
    
    header ul.flexSB{
        display: none;
    }

    header ul{
        margin-left: 20px;
    }

    .toggle{
        display: block;
        background: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 50px;
        margin-left: 20px;
        
    }
}

